@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #001e4d;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.card {
    background-color: #fff;
    min-height: 30vh;
    width: 40vw;
    border: none;
    border-radius: .7rem;
    padding: 1rem;
}
.content {
    margin: .5rem;
}
.question {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.select {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}
.opt {
    border: #555 solid 2px;
    border-radius: .4rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
.nxt-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.next {
    padding: 1rem;
    color: #fff;
    outline: none;
    text-decoration: none;
    background-color: #001e4d;
    border: none;
    border-radius: .4rem;
    width: 8vw;
}
.hidden {
    display: none;
}